# Dependencies
node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
*.pem

# Environment variables
.env
.env.*

# IDE
.idea/
.vscode/

# Logs
*.log

# Build
build/
*.apk
*.aab

# Config files with sensitive data
config/keys.js 